doctype html
html(lang='en')
  head
    script(src='https://code.jquery.com/jquery-3.6.0.min.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(src='/public/home.js')
    meta(charset='UTF-8')
    meta(http-equiv='Content-Security-Policy', content="default-src 'self' https://shelled-equinox-viola.glitch.me; img-src https://shelled-equinox-viola.glitch.me")
    link(rel='icon', type='image/x-icon', href='https://shelled-equinox-viola.glitch.me/favicon.ico')
    link(rel='stylesheet', href='/public/css/home.css')
    link(rel='stylesheet', href='/public/css/fontello.css')
    title My Projects
  body
    input#inputText(type='text', name='inputText')
    button#createServer(onclick='createServer()') CREATE SERVER
    div#servers
